{% schema %}
  {
    "name": "Divdier (Collections)",
    "tag": "section",
    "presets": [
    {
      "name": "Divdier (Collections)"
    }
  ],
    "settings": []
  }
{% endschema %}



<div class="level is-mobile"><div class="level-item"><hr class="DividerWithLogo_fullWidth"></div><div class="level-item has-text-centered level-logo"><img src="https://rewahard.com/cdn/shop/files/Group_1.png?height=180" style="height:30px;"></div><div class="level-item"><hr class="DividerWithLogo_fullWidth"></div></div>



<style>


  .level.is-mobile, .level.is-mobile .level-left, .level.is-mobile .level-right {
    display:flex;
    height:30px;
    margin-bottom:20px;
  }
  .level.is-mobile .level-item:not(.is-narrow) {
    flex-grow: 1;
  }
  .level.is-mobile .level-item:not(:last-child) {
    margin-bottom:0;
    margin-right: .75rem;
  }
  .level-item {
    align-items: center;
    display: flex;
    flex-basis: auto;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
  }
  .level-logo {
    flex-grow: 0 !important;
    margin: 0 6px;
  }
</style>